<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gestodeformulas">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".url"></activity>
        <activity android:name=".algebra" />
        <activity android:name=".calculo"/>
        <activity android:name=".fisica" />
        <activity android:name=".quimica" />
        <activity android:name=".favoritos" />
        <activity android:name=".cal_formula1" />
        <activity android:name=".cal_formula2" />
        <activity android:name=".cal_formula3" />
        <activity android:name=".cal_formula4" />
        <activity android:name=".cal_formula5" />
        <activity android:name=".alg_formula1" />
        <activity android:name=".alg_formula2" />
        <activity android:name=".alg_formula3" />
        <activity android:name=".alg_formula4" />
        <activity android:name=".alg_formula5" />
        <activity android:name=".fis_formula1" />
        <activity android:name=".fis_formula2" />
        <activity android:name=".fis_formula3" />
        <activity android:name=".fis_formula4" />
        <activity android:name=".fis_formula5" />
        <activity android:name=".quim_formula1" />
        <activity android:name=".quim_formula2" />
        <activity android:name=".quim_formula3" />
        <activity android:name=".quim_formula4" />
        <activity android:name=".quim_formula5" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>